/* PARTE ADMIN INDEX.PHP
.body-adminIndex {
    background-color: #141414;
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 40px 20px;
    text-align: center;
}

.body-adminIndex h1 {
    color: #ED1D24;
    font-size: 2.8em;
    font-weight: 900;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.body-adminIndex .botonesIndex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.body-adminIndex .botonLogout-admin,
.body-adminIndex .botonListar-admin,
.body-adminIndex .botonAgregar-admin  {
    display: inline-block;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.6em;
    padding: 15px 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    min-width: 320px;
}

.botonLogout-admin a {
    display: inline-block;
    background-color: #ED1D24;
    color: #FFFFFF;
    padding: 12px 35px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.botonListar-admin a {
    display: inline-block;
    background-color: #3268BD;
    color: #FFFFFF;
    padding: 12px 35px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.botonAgregar-admin a {
    display: inline-block;
    background-color: #5f68ab;
    color: #FFFFFF;
    padding: 12px 35px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.botonLogout-admin a:hover {
    background-color: #A50000;
}

.botonListar-admin a:hover {
    background-color: #24497A;
}

.botonAgregar-admin a:hover {
    background-color: #434a7d;
}
*/
/* PARTE ADMIN INDEX.PHP 
.body-loginAdmin {
    background-color: #141414;
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 40px 20px;
    text-align: center;
}
.body-loginAdmin h2 {
    color: #f78f3f;
    font-size: 2.8em;
    font-weight: 900;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.body-loginAdmin #userLogin, .body-loginAdmin #passwordLogin {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 2px solid #363636;
    border-radius: 6px;
    background-color: #1A1A1A;
    color: #FFFFFF;
    font-size: 1.2em;
    box-sizing: border-box;
}

.body-loginAdmin #userLogin:focus, .body-index #passwordLogin:focus {
    border-color: #3268BD;
    outline: none;
    box-shadow: 0 0 8px rgba(50, 104, 189, 0.6);
}

.body-loginAdmin #userLogin::placeholder {
    color: #8492A6;
}
.body-loginAdmin #passwordLogin::placeholder {
    color: #8492A6;
}

.body-loginAdmin #loginButton {
    background-color: #ED1D24; 
    color: #FFFFFF; 
    border: none;
    padding: 15px 30px;
    margin-top: 25px;
    border-radius: 6px; 
    font-weight: bold;
    font-size: 1.1em;
    width: 100%;
    cursor: pointer;
}

.body-loginAdmin #loginButton:hover {
    background-color: #A50000;
}
*/


/* PARTE ADMIN LISTAR_FRASES.PHP */

.body-listarFrases {

/* PARTE ADMIN CREATE_SENTENCE.PHP */
.body-createSentence {
    background-color: #141414;
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 40px 20px;
    text-align: center;
}

.body-listarFrases h1 {
    color: #ED1D24;
.body-createSentence h2 {
    color: #5f68ab;
    font-size: 2.8em;
    font-weight: 900;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.body-listarFrases table {
    width: 70%;
    border-collapse: collapse;
    background-color: #242424;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(237, 29, 36, 0.4);
    margin-bottom: 30px;
}

.body-listarFrases th, .body-ranking td {
    padding: 15px 10px;
    color: #FFFFFF;
    font-size: 1.1em;
}

.body-listarFrases th {
    background-color: #ED1D24;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.body-listarFrases tr:nth-child(even) {
    background-color: #1A1A1A;
}
.body-listarFrases tr:nth-child(odd) {
    background-color: #3c3c3c98;
}

.body-listarFrases tr:nth-child(even):hover {
    background-color: #518bca72;
}

.body-listarFrases tr:nth-child(odd):hover {
    background-color: #ed1d246a;
}

.body-listarFrases a {
    display: inline-block;
    background-color: #ED1D24;
    color: #FFFFFF;
    padding: 12px 35px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.body-listarFrases a:hover {
    background-color: #A50000;
}
.body-createSentence #inputSentence {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 2px solid #363636;
    border-radius: 6px;
    background-color: #1A1A1A;
    color: #FFFFFF;
    font-size: 1.2em;
    box-sizing: border-box;
}
.body-createSentence #inputSentence:focus {
    border-color: #3268BD;
    outline: none;
    box-shadow: 0 0 8px rgba(50, 104, 189, 0.6);
}
.body-createSentence #inputSentence::placeholder {
    color: #8492A6;
}
.body-createSentence #Dificulty {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: 2px solid #363636;
    border-radius: 6px;
    background-color: #1A1A1A;
    color: #FFFFFF;
    font-size: 1.2em;
    box-sizing: border-box;
}
.body-createSentence #Dificulty:focus {
    border-color: #3268BD;
    outline: none;
    box-shadow: 0 0 8px rgba(50, 104, 189, 0.6);
}
.body-createSentence #Dificulty option {
    background-color: #1A1A1A;
    color: #FFFFFF;
}
.body-createSentence #createSentence {
    background-color: #ED1D24; 
    color: #FFFFFF; 
    border: none;
    padding: 15px 30px;
    margin-top: 25px;
    border-radius: 6px; 
    font-weight: bold;
    font-size: 1.1em;
    width: 100%;
    cursor: pointer;
}
.body-createSentence #createSentenceButton:hover {
    background-color: #A50000;
}
.body-createSentence .success-message {
    color: #4BB543;
    font-weight: bold;
    margin-top: 20px;
}
.body-createSentence .error-message {
    color: #FF3333;
    font-weight: bold;
    margin-top: 20px;
}
